
db/imfdb.sql
db/imfdb_11_02_2023_11_14.sql
db/imfdb_11_02_2023_19_22.sql
candidates.txt
db/imfdb_11_02_2023_23_46.sql
db/imfdb_14_02_2023_15_14.sql
db/imfdb_alles_ausser_junction_tables.sql
data.xlsx
skip.csv
skip.csv
~$data.xlsx
skip_movie_appearances.csv
skip_movie_appearances.csv
skip_movie_appearances.csv
skip.csv
